body{
    background-color: rgb(66, 141, 240);

} 
form{
    padding-left: 10px;
    margin-bottom:20px ;
}

.chat-container {
    background-color: #959393;
    padding-bottom: 185px;
    max-width: 455px;
    margin: left;
    box-sizing: border-box;
    border: 1px solid #454141;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
button{
    border-radius: 2px;
    background: #959393;
}

.chat-header {
    padding: 20px;
    background-color: #f2f2f2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
  }
  
.chat-header h1 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
  }
  
.chat-header input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    font-size: 16px;
    flex-grow: 1;
  }
  
.chat-body {
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
  }
  
.message-row {
    margin-bottom: 10px;
  }
  
.message-sender {
    font-weight: bold;
    margin-right: 10px;
  }
  
.message-text {
    display: inline-block;
    padding: 5px;
    background-color: #e6e6e6;
    border-radius: 5px;
    word-wrap: break-word;
    max-width: 70%;
  }
.emoti{
    margin-bottom: 10px;
    padding-right: 270px;

}
  
.emoticon {
    height: 1.2em;
    width: none;
    margin: 0 0.2em;
  }

.message-time {
    font-size: 12px;
    color: #666;
    margin-left: 10px;
  }
  
.message-time {
    font-size: 12px;
    color: #666;
    margin-left: 10px;
  }
  
.chat-footer {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
   
.chat-footer input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    font-size: 16px;
    flex-grow: 1;
  } 
  
.chat-footer button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #008CBA;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  